<!DOCTYPE html>

<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
</head>
<body>

<h1 id="bla">Last Update: {{update_time}}</h1>
<form method="post">
  <button name="pause" value="">
    {% if scraping %}stop{% else %}start{% endif %}{{scraping}}
  </button>
</form>
<table>
  {% for query in queries %}
  <form method="post">
  <tr>
    <td>{{query}}</td>
    <td><button name="remove" value="{{query}}">-</button></td>
  </tr>
  </form>
  {% endfor%}
  <form method="post">
  <tr>
    <td><input id="addid" name="add"></input></td>
    <td><button>+</button></td>
  </tr>
  </form>
</table>

<div class="grid-container">
  {% for key in props.keys() %}
  <div class="grid-item">
    <img src="{{props[key][1]}}">
    <div>
      <div>{{props[key][3]}}</div>
      <a href="https://www.ebay-kleinanzeigen.de{{props[key][4]}}">{{props[key][0]}}</a>
      <div>{{props[key][2]}}</div>
    </div>
  </div>
  {% endfor%}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();

    socket.on('my response', function(data) {
        document.getElementById("bla").innerHTML="Last Update: " + data;
        //location.reload(); // reload with post arguments
        //window.location.href=window.location.href // reload url only
        location = location.href.split("?")[0];
        //location.reload();
    });

    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>

</body>
